# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea._BEN_Scenes.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\GitKraken Repositories\Zeldaction_Dark_Circus\Assets\BEN\_BEN_Scenes\.idea\.idea._BEN_Scenes.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
